.nav_inside
  .nav_container
    a.title(href="") My Hero
    ul.nav_area
      li.button
        a(href="") Keywords
      li.button
        a(href="") Introductions
      li.button
        a(href="") Inspirations

//第四頁
.content4
  img.iconAlanTuring2(src="https://i.imgur.com/hrAzbXr.jpg")
  .context
    p.context1 我最佩服圖靈先生的事，對於科學的執著
    p.context2 以及和堅持在這個社會保持「不同」的勇氣。
    p.context3 他是一位數學家、一位科學家、一位同性戀
    p.context4 、一位隻手保衛國家的民族英雄，
    p.context5 艾倫·麥迪遜·圖靈

//第三頁
.content3
  img.iconAlanTuring(src="https://i.imgur.com/pOREyc4.jpg")
  .introductions
    .content3_title Alan Mathison Turing
    .content3_content 
      p 機器會思考嗎?
      p 破解二戰恩尼格瑪密碼機幫助英國打贏二戰
      p 事實上：圖靈是很好相處、幽默的聰明人
      p.quote1 “Stay weird. Stay different.”
      p.nextPage 下一頁

//第二頁
.content2
  .content2_title Who is he/she?
  .hint
    .content2_english 英國人
    .content2_pollute 花粉過敏
    .content2_apple 氰化物的蘋果
    .content2_run 熱愛長跑
    .content2_computerFather 電腦科學之父
    .content2_aiFather 人工智慧之父
    .content2_king 劍橋大學國王學院
    .content2_gay 男同性戀
    .content2_imoitation 模仿遊戲
    .hintBox 點擊後下一個提示
    .answer Got it！

//第一頁
.content1
  .img
    img.iconplayGame(src="https://i.imgur.com/lFGiTY1.jpg")
  .start Start
